In [1]:
import sqlite3
import pandas as pd
import csv

In [3]:
#create database connection
conn = sqlite3.connect("project_group3.db") #autocommit=False)
cursor = conn.cursor()

In [5]:
#create table
create_table = """CREATE TABLE airbnb(
                        id_host INTEGER PRIMARY KEY,
                        host_since DATE,
                        host_location TEXT,                
                        latitude FLOAT,
                        longitude FLOAT,
                        price INTEGER,
                        reviews_per_month FLOAT);
                """

#execute the query
cursor.execute(create_table)

In [7]:
#read data
df = pd.read_csv("Airbnb_final.csv")
df.head()

,id_host,host_since,host_neighbourhood,latitude,longitude,price,reviews_per_month
0,18750597,9/22/2013,Bedford-Stuyvesant,40.69023,-73.95428,100,0.04
1,17045913,7/31/2015,Greenpoint,40.73076,-73.95575,20,0.49
2,21737594,8/19/2016,Bushwick,40.68635,-73.91187,25,0.36
3,22638442,10/12/2014,Crown Heights,40.67157,-73.93434,25,0.04
4,102995,7/22/2010,The Castro,40.78558,-73.96960,212,0.43

In [10]:
#send data to database
df.to_sql('airbnb', conn, if_exists='replace', index=False)

49

In [12]:
#showing data in database
cursor.execute("SELECT * FROM airbnb").fetchall()

[(18750597, '9/22/2013', 'Bedford-Stuyvesant', 40.69023, -73.95428, 100, 0.04),
 (17045913, '7/31/2015', 'Greenpoint', 40.73076, -73.95575, 20, 0.49),
 (21737594, '8/19/2016', 'Bushwick', 40.68635, -73.91187, 25, 0.36),
 (22638442, '10/12/2014', 'Crown Heights', 40.67157, -73.93434, 25, 0.04),
 (102995, '7/22/2010', 'The Castro', 40.78558, -73.9696, 212, 0.43),
 (22165795, '12/8/2017', 'Bedford-Stuyvesant', 40.68135, -73.94718, 28, 0.04),
 (150883, '6/21/2011', 'West Village', 40.72855, -74.00305, 200, 0.25),
 (188674, '8/2/2011', 'East Village', 40.73217, -73.98801, 165, 0.64),
 (22207196, '10/1/2016', 'Bushwick', 40.68545, -73.91237, 30, 0.17),
 (272026, '11/19/2011', 'Washington Heights', 40.85774, -73.92901, 60, 0.37),
 (22249013, '7/5/2014', 'Bushwick', 40.69178, -73.91243, 30, 0.3),
 (321014, '1/23/2012', 'Gramercy Park', 40.73294, -73.98282, 245, 0.2),
 (23869761, '3/14/2015', 'Bushwick', 40.69941, -73.93633, 31, 0.05),
 (393682, '3/19/2012', 'Nolita', 40.72172, -73.99689, 100, 0.66),
 (22342020, '5/10/2015', 'Crown Heights', 40.67767, -73.95764, 32, 0.04),
 (462454, '5/5/2012', 'Lower East Side', 40.71746, -73.98782, 89, 0.06),
 (465277, '4/3/2012', 'Crown Heights', 40.67615, -73.95441, 68, 0.5),
 (490278, '5/21/2012', 'Midtown East', 40.75632, -73.96464, 99, 0.33),
 (659952, '8/5/2012', "Hell's Kitchen", 40.76287, -73.9957, 99, 0.52),
 (695216, '9/13/2012', 'Fort Greene', 40.69096, -73.97241, 134, 1.37),
 (735890, '10/11/2012', 'East Village', 40.72369, -73.9894, 120, 0.08),
 (22941772, '12/2/2011', 'Bedford-Stuyvesant', 40.6964, -73.94696, 36, 0.05),
 (789476, '7/28/2010', 'Harlem', 40.79863, -73.95292, 95, 0.44),
 (812695, '9/23/2011', 'Park Slope', 40.66948, -73.98477, 165, 1.61),
 (818451, '12/1/2012', 'Upper East Side', 40.76883, -73.95353, 150, 0.29),
 (19190801, '12/16/2014', 'Bushwick', 40.6969, -73.92627, 37, 0.1),
 (21922071, '10/24/2015', 'Flatbush', 40.65177, -73.96417, 37, 0.13),
 (944183, '8/24/2012', 'Harlem', 40.81177, -73.95139, 200, 0.04),
 (4125515, '9/16/2014', 'Crown Heights', 40.67673, -73.9362, 38, 0.19),
 (1030780, '9/5/2011', 'Sunset Park', 40.64871, -74.00774, 70, 0.56),
 (1123960, '4/30/2013', 'Harlem', 40.80815, -73.94325, 70, 0.2),
 (1150869, '4/29/2013', 'Morningside Heights', 40.80815, -73.96779, 170, 0.07),
 (1198874, '10/3/2012', "Hell's Kitchen", 40.76284, -73.9833, 134, 0.54),
 (1398969, '7/17/2013', "Hell's Kitchen", 40.76395, -73.99439, 55, 0.23),
 (1475427, '8/2/2013', 'Sunnyside', 40.74234, -73.92579, 102, 0.21),
 (1530217, '8/14/2013', 'West Village', 40.72977, -74.0024, 349, 0.13),
 (16336428, '4/5/2014', 'Bedford-Stuyvesant', 40.68997, -73.92742, 40, 0.3),
 (1815211, '1/5/2012', 'Gramercy Park', 40.73689, -73.98451, 185, 1.08),
 (1828063, '10/9/2013', 'East Village', 40.72982, -73.98532, 175, 0.73),
 (1881586, '11/3/2013', 'Midtown East', 40.75669, -73.9666, 225, 0.04),
 (21978281, '9/23/2017', 'Crown Heights', 40.67528, -73.906, 40, 0.13),
 (22176782, '6/14/2016', 'Bushwick', 40.70391, -73.92593, 40, 0.17),
 (22251732, '12/13/2017', 'Bedford-Stuyvesant', 40.6861, -73.95161, 40, 0.08),
 (2012104, '11/30/2013', 'Morningside Heights', 40.81615, -73.96156, 55, 0.65),
 (2024991, '12/1/2013', 'Astoria', 40.7577, -73.91981, 100, 0.04),
 (2033224, '12/4/2013', 'Harlem', 40.81858, -73.9559, 150, 0.18),
 (2057295, '12/9/2013', 'West Village', 40.73075, -74.00238, 110, 0.29),
 (2084817, '6/16/2012', 'Lower East Side', 40.71044, -73.98756, 128, 0.6),
 (2134294, '12/28/2013', 'Astoria', 40.77073, -73.93229, 47, 0.15)]